<!DOCTYPE html>
<html>
  <head>
    <title>Bertie's Bargains</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />

  </head>
  <body>
    
    <h1>Bargain Books</h1>
    <h2>Here are all the books priced under £20:</h2>

    <ul>
      <% availableBooks.forEach(function(book) { %>
        
        <li>
          <%= book.name %>, £<%= book.price %>
        </li>
      
      <% }); %>
    </ul>
  <p><a href="/">Return to Home Page</a></p>
  </body>
</html>