<!DOCTYPE html>
<html>
  <head>
    <title>Bertie's Books</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />

  </head>
  <body>
    <h1>Bertie's Books Shop</h1>
    <h2>Here are the books that we sell:</h2>
    <ul>
      <% availableBooks.forEach(function(book) { %>
        <li>
          <%= book.name %>, £<%= book.price %>
        </li>
      <% }); %>
    </ul>
    <p><a href="/">Return to Home Page</a></p>
  </body>
</html>