<!DOCTYPE html>
<html>
    <head>
        <title>Logged in to <%=shopData.shopName%></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>Login Successful</h1>
        <form method="GET" action="books/list">
            <input type="submit" value="View Book List" />
        </form>
    </body>
</html>