<!DOCTYPE html>
<html>
  <head>
    <title>Search for a Book</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />

  </head>
  <body>
    
    <h1>Search for a Book</h1>

    <form action="/books/search-result" method="GET">
      <label for="book-search">Book Name:</label>
      <br> 
      <input type="text" id="book-search" name="keyword">
      <button type="submit">Search</button>
    </form>
    <p><a href="/">Return to Home Page</a></p>
  </body>
</html>